@font-face {
  font-family: 'poppins-regular';
  src: local('poppins-regular'), url(./fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'poppins-medium';
  src: local('poppins-medium'), url(./fonts/Poppins-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'poppins-semi-bold';
  src: local('poppins-semi-bold'), url(./fonts/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'poppins-italic';
  src: local('poppins-italic'), url(./fonts/Poppins-ThinItalic.ttf) format('truetype');
}

