.menu-bar{
    height:50px;
    border-bottom: 1px solid #eeeeee;
    display: none;
}
.menu-items{
    display: block;

}

.btn-white{
    color:#35a8fc;
}

@media screen and (max-width: 750px) {
    .menu-bar{
        display: block;
    }
    .menu-items{
        display: none;

    }
}

